.cards {
    display: inline-block;
    transition: transform 0.2s;
    position: relative;
    border-radius: 10px;
    margin: 0.5em 0.5em;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
    height: 300px;
    z-index: 0;
    border: 2px solid #323232;
    .card-image{ 
        height: 300px;
    }
}

.cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
}

.cards__overlay {
    background: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.cards__overlay:hover {
    opacity: 1;
}

.card__title {
    background: none;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card__runtime {
    background: none;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card__rating {
    background: none;
    float: right;
    display: flex;
    align-items: center;
}

.card__description {
    background: none;
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}