.navbar-container {
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 101;

  .navbar {
    background: transparent;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      color: white;
      font-weight: bold;
      font-size: 1.33rem;
      .links {
        text-decoration: none;
        color: white;
      }
      .active {
        transition: all 0.1s;
        text-decoration: none;
        color: #ff4343;
      }
    }
    .menu {
      ul {
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: white;
        padding: 0;
        text-align: center;
        margin: 0;
        transition: 1s;

        li {
          display: inline-block;
          padding: 0rem 1.11rem;

          .links {
            text-decoration: none;
            color: white;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.11rem;
          }
          .active {
            transition: all 0.1s;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.11rem;
            text-decoration: none;
            color: #ff4343;
          }
        }
      }
    }

    .search {
      display: table;
      input {
        background: none;
        border: none;
        outline: none;
        width: 1.55rem;
        min-width: 0;
        padding: 0;
        z-index: 1;
        position: relative;
        line-height: 1rem;
        margin: 0.277rem 0;
        font-size: 0.77rem;
        transition: all 0.6s ease;
        cursor: pointer;
        color: #fff;
        & + div {
          position: relative;
          height: 1.55rem;
          width: 100%;
          margin: -1.55rem 0 0 0;
          svg {
            display: block;
            position: absolute;
            height: 1.55rem;
            width: 9rem;
            right: 0;
            top: 0;
            fill: none;
            stroke: #fff;
            stroke-width: 0.08rem;
            stroke-dashoffset: 212.908 + 59;
            stroke-dasharray: 59 212.908;
            transition: all 0.6s ease;
          }
        }
        &:not(:placeholder-shown),
        &:focus {
          width: 9rem;
          padding: 0 0.22rem;
          cursor: text;
          & + div {
            svg {
              stroke-dasharray: 150 212.908;
              stroke-dashoffset: 300;
            }
          }
        }
      }
    }

    ::selection {
      background: rgba(#fff, 0.2);
    }
    ::-moz-selection {
      background: rgba(#fff, 0.2);
    }
  }
  .navbar.black ul {
    background: #000;
  }
}
