.error-page{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;

    p{
        font-size: 6em;
        color: red;
        font-weight: 700;
    }
}